dash==0.36.0
dash-bootstrap-components==0.3.3
dash-core-components==0.43.0
dash-html-components==0.13.5
dash-renderer==0.17.0
dash-table==3.3.0
gunicorn==19.9.0
pandas==0.23.4
plotly==3.6.0
scipy==1.1.0
v-palette>=1.0.0
xlrd==1.1.0
