dash==0.39.0
dash-bootstrap-components==0.3.4
dash-core-components==0.44.0
dash-html-components==0.14.0
dash-renderer==0.20.0
dash-table==3.6.0
gunicorn==19.9.0
pandas==0.24.1
plotly==3.6.1
scipy==1.2.1
v-palette>=1.0.3
xlrd==1.2.0
